<ion-scroll zooming="true">
	<div class="login-page">
	<div class="button-bar">
		<a class="button button-large button-balanced" href="#/forgot">User</a>
		<a class="button button-large button-outline button-balanced" href="#/forgotOrg">Organization</a>
	</div>
	<div class="form">
		<form class= "login-form">
     	<h5 class="text-left"><label>Email Address</label></h5>
      	<input type="text" placeholder="Enter Email Address"/>
      	<button class="btn btn-lg btn-success icon icon-left ion-android-mail"> Retrieve Password</button>
    </form>
    </div>
	</div>
</ion-scroll>