<ion-scroll zooming="true" direction="xy">
<a class="button button-clear button-large icon icon-left ion-home button-dark" href="#/">Khitwa</a>
  <div class="login-page">
  <center><p class="h2">Forgot Password</p></center>
  <div class="button-bar">
    <a class="button button-large button-outline button-balanced" href="#/forgot">User</a>
    <a class="button button-large button-balanced" href="#/forgotOrg">Organization</a>
  </div>
  <div class="form">
    <form class= "login-form">
        <input type="text" placeholder="Enter Email Account"/>
        <button class="ion-android-mail"> Reset</button>
    </form>
    </div>
  </div>
</ion-scroll>