<ion-scroll zooming="true">
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-assertive" id="toUser" ng-click="toUser()">User</a>
<a class="button button-large button-outline button-assertive" id="toOrg" ng-click="toOrg()">Organization</a>
</div>
  <div class="form">
    <form id="login-form" class="login-form" ng-submit="signin(data);">
      <h5 class="text-left"><label>Username</label></h5>
      <input type="text" placeholder="enter username" ng-model="data.username" required autofocus/>
      <h5 class="text-left"><label>Password</label></h5>
      <input type="password" placeholder="enter password" ng-model="data.password" required />
      <button type="submit" class="btn btn-block btn-social btn-pinterest"> login </button>
      <button type="submit" class="btn btn-block btn-social btn-facebook" ng-click="facebook();"><i class="fa fa-facebook"></i> Sign in with Facebook </button>
      <button type="submit" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</button>
      <button type="submit" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</button>
      <p class="message">Not registered? <a href="#/signup">Create an account</a></p>
      <p class="message"><a href="#/forgot">Forgot Password?</a></p>
    </form><div id="org-login" class="hidden" ng-controller="OrganizationController">
    <form class="login-form" ng-submit="login(data)">
      <h5 class="text-left"><label>Username</label></h5>
      <input type="text" placeholder="enter username" ng-model="data.username" required autofocus/>
      <h5 class="text-left"><label>Password</label></h5>
      <input type="password" placeholder="enter password" ng-model="data.password" required />
      <button class="btn btn-block btn-social btn-pinterest" type="submit"> login</button>
      <p class="message">Not registered? <a href="#/signupOrg">Create an account</a></p>
      <p class="message"><a href="#/forgotOrg">Forgot Password?</a></p>
    </form></div>
    <br>
    <div class="jumbotron text-center" ng-show="loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading...</p>
    </div>
    <br>
    <div class="row show-hide-message" ng-show="res.success">
      <div class="alert alert-success">{{res.success}}</div>
    </div>
    <div class="row show-hide-message" ng-show="res.fail">
      <div class="alert alert-danger">{{res.fail}}</div>
    </div>
  </div>
</div>
</ion-scroll>