<ion-scroll zooming="true">
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-balanced" href="#/login">User</a>
<a class="button button-large button-outline button-balanced" href="#/loginOrg">Organization</a>
</div>
  <div class="form">
    <form class="login-form" ng-submit="signin(data);">
      <h5 class="text-left"><label>Username</label></h5>
      <input type="text" placeholder="enter username" ng-model="data.username" required autofocus/>
      <h5 class="text-left"><label>Password</label></h5>
      <input type="password" placeholder="enter password" ng-model="data.password" required />
      <button class="btn btn-lg btn-success icon icon-left ion-log-in" type="submit"> login</button>&nbsp
      <button type="button" class="btn btn-lg btn-primary" ng-click="facebook();">Facebook</button>
      <p class="message">Not registered? <a href="#/signup">Create an account</a></p>
      <p class="message"><a href="#/forgot">Forgot Password?</a></p>
    </form>
    <br>
    <div class="jumbotron text-center" ng-show="loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading...</p>
    </div>
    <br>
    <div class="row show-hide-message" ng-show="res.success">
      <div class="alert alert-success">{{res.success}}</div>
    </div>
    <div class="row show-hide-message" ng-show="res.fail">
      <div class="alert alert-danger">{{res.fail}}</div>
    </div>
  </div>
</div>
</ion-scroll>