<div>
<a class="button button-clear button-large icon icon-left ion-home button-dark" href="#/">Khitwa</a>
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-outline button-balanced" href="#/login">User</a>
<a class="button button-large button-balanced" href="#/loginOrg">Organization</a>
</div>
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Organization Name"/>
      <input type="password" placeholder="password"/>
      <button class="icon icon-left ion-log-in"> login</button>
      <p class="message">Not registered? <a href="#/signupOrg">Create an account</a></p>
      <p class="message"><a href="#/forgotOrg">Forgot Password?</a></p>
    </form>
  </div>
</div>
</div>