<div>
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-outline button-balanced" href="#/login">User</a>
<a class="button button-large button-balanced" href="#/loginOrg">Organization</a>
</div>
  <div class="form">
<!--     <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form">
      <input type="text" placeholder="Organization Name"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
      <p class="message"><a href="#">Forgot Password?</a></p>
    </form>
  </div>
</div>
</div>
