<ion-scroll zooming="true" direction="xy">
<a class="button button-clear button-large icon icon-left ion-home button-dark" href="#/">Khitwa</a>
<div>
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-outline button-balanced" href="#/signup">User</a>
<a class="button button-large button-balanced" href="#/signupOrg">Organization</a>
</div>
  <div class="form">
    <form>
      <input type="text" placeholder="organization name"/>
      <input type="password" placeholder="password"/>
      <input type="password" placeholder="confirm password"/>
      <input type="text" placeholder="email address"/>
      <button class="icon icon-left ion-clipboard"> Create</button>
      <p class="message">Already registered? <a href="#/loginOrg">Sign In</a></p>
    </form>
  </div>
</div>
</div>
</ion-scroll>