<ion-scroll zooming="true">
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-outline button-assertive" href="#/signup">User</a>
<a class="button button-large button-assertive" href="#/signupOrg">Organization</a>
</div>
  <div class="form">
    <form id="signup1" ng-submit="signup(regData)">
      <h5 class="text-left"><label>Username</label></h5>
      <input class="input1" type="text" maxlength="48" placeholder="at least 3 characters" ng-model="regData.username" required autofocus />
      <h5 class="text-left"><label>Password</label></h5>
      <input class="input1" type="password" maxlength="24" placeholder="6-24 characters 'example@123'" ng-model="regData.password" required/>
      <h5 class="text-left"><label>Confirm Password</label></h5>      
      <input class="input1" type="password" maxlength="24" placeholder="confirm password" ng-model="regData.confirm" required/>
      <h5 class="text-left"><label>Email</label></h5>
      <input class="input1" type="text" placeholder="example@someone.com" ng-model="regData.email" required/>
      <button id="submit1" class="btn btn-lg btn-danger icon icon-left ion-clipboard" type="submit"> Create</button>
      <p class="message">Already registered? <a href="#/loginOrg">Sign In</a></p>
    </form>
    <br>
    <div class="jumbotron text-center" ng-show="loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading...</p>
    </div>
    <br>
    <div class="row show-hide-message" ng-show="res.success">
      <div class="alert alert-success">{{res.success}}</div>
    </div>
    <div class="row show-hide-message" ng-show="res.fail">
      <div class="alert alert-danger">{{res.fail}}</div>
    </div>
  </div>
</div>
</ion-scroll>