<ion-scroll zooming="true">
<div class="login-page">
<div class="button-bar">
<a class="button button-large button-balanced" href="#/signup">User</a>
<a class="button button-large button-outline button-balanced" href="#/signupOrg">Organization</a>
</div>
  <div class="form">
    <form ng-submit="signup(regData)">
      <input type="text" placeholder="username" ng-model="regData.username" required autofocus/>
      <input type="password" placeholder="password" ng-model="regData.password" required />
      <input type="password" placeholder="confirm password" ng-model="regData.confirm" required />
      <input type="text" placeholder="email address" ng-model="regData.email" required />
      <input type="text" placeholder="first name" ng-model="regData.firstName" required />
      <input type="text" placeholder="last name" ng-model="regData.lastName" required />
      <input type="date" placeholder="date of birth" ng-model="regData.dateOfBirth"/>
      <button class="btn btn-lg btn-success icon icon-left ion-clipboard" type="submit"> Create</button>
      <p class="message">Already registered? <a href="#/login">Sign In</a></p>
    </form>
    <br>
    <div class="jumbotron text-center" ng-show="loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading...</p>
    </div>
    <br>
    <div class="row show-hide-message" ng-show="res.success">
      <div class="alert alert-success">{{res.success}}</div>
    </div>
    <div class="row show-hide-message" ng-show="res.fail">
      <div class="alert alert-danger">{{res.fail}}</div>
    </div>
  </div>
</div>
</ion-scroll>