<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <base href="/">
        <!-- Fav icon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!--  -->
        <title> Khitwa </title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" >
        <link href="css/style.css" rel="stylesheet">
        <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="lib/angular-animate/angular-animate.min.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="Khitwa" class="platform-android">
    <ion-nav-view>
    </ion-nav-view>
    <div ng-controller="OrganizationController">
    <div class="tabs" ng-controller="UserController">
      <a class="tab-item icon ion-ios-home larger" ng-click="goHome()">
        Home
      </a>
      <a class="tab-item icon ion-log-in larger" ng-if="!loggedIn" ng-click="goLogin()">
      Log In
      </a>
      <a class="tab-item icon ion-log-out larger" ng-if="loggedIn" ng-click="signout()">
        Log Out
      </a>
      <a class="tab-item icon ion-person larger" ng-if="loggedIn && !isOrg" ng-click="goProfile();">
          Profile
      </a>
        <a class="tab-item icon ion-person larger" ng-if="loggedIn && isOrg" ng-click="goOrgProfile();">
          Profile
      </a>
    </div>
    </div>
    </body>
</html>
